<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Task Manager</title>
    <link
        href="static/website.css"
        rel="stylesheet"
        type="text/css"
    />
    </head>
    <body>
    <!-- Main Container -->
    <div class="container">
        <!-- Header -->
        <header class="header">
        <h4 class="logo">Task Manager</h4>
        </header>
        <!-- Hero Section -->
        <section class="intro">
            <div class="column">
            <h3>What is it about?</h3>
        </div>
        <div class="column">
            <p>
            Task manager is a tool allowing its users the advantage to improve their time managing skills. It gives users the ability to manage their tasks and assignments to better keep track of them and their time. It offers a variety of descriptors for assignments and allows users to set a date and time for which a task should be complete, which the user will be reminded of an hour or a few hours beforehand based on their preference.
            </p>
            <p>
            Overall, it is a neat project that helps anyone who is always in need of knowing what assignment is due closer to the due date than other assignments.
            </p>
        </div>
        </section>
        <!-- Stats Gallery Section -->
        <div class="gallery">
        <div class="thumbnail">
            <h4>Purpose?</h4>
            <p class="text_column">
            The Purpose of this project was to help anyone who are lacking the time and the self goal setting to do these tasks at an appropriate time.  
            </p>
        </div>
        <div class="thumbnail">
            <h4>How will this benefit the user?</h4>
            <p class="text_column">
            This program will allow the user to improve their problem solving skills and help increase their efficiency within meeting the due dates. in conclusion, it helps increase productivity to make ends meet.
            </p>
        </div>
        <div class="thumbnail">
            <h4>Modules Used</h4>
            <p class="tag">Flask, Pygui, Datetime, pandas</p>
            <p class="text_column">
            These are the modules used to make this project happen. as well as aesthetically making it user-friendly.
            </p>
        </div>
        <div class="thumbnail">
            <h4>Where to begin?</h4>
            <p class="text_column">
            Just scroll down till you see the card, click on the button and let your journey begin!
            </p>
        </div>
    </div>
        <!-- Card Section-->
        <div class="card">
            <div class="card_container">
                <article class="card_article">
                    <div class="card_data">
                        <img src="static/images/task_manager.png" alt="card image" class="card_img">
                    <h1 class="card_title"> Task Manager </h1>
                    <button class="card_button" onclick="location.href='https://github.com/Dgon06utrgv/Task_Manager'">Touch Me to start the Journey! (see the github repo)</button>
                    </div>
                </article>
            </div>     
        </div>
        <!-- Copyrights Section -->
<div class="copyright">&copy;2022 - <strong>Task Manager</strong></div>
    </div>
    <!-- Main Container Ends -->
    </body>
</html>
